/* ===== MAIN.CSS goes here ===== */

body {
	color: #f1803a;
	background-color: #f1803a;
	/* color: rgba(255, 255, 255, 0.8); */
}

/* Navbar */

.brand-logo {
	height: 100%;
}

/* #landing {
	height: 500px;
	background-size: 100% 100%;
	background-image: url('../img/promo.jpg');
	background-position: center;
} */

#landing {
	height: 85%;
	background-image: url('../img/promo.jpg');
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-attachment: fixed;
	z-index: -1;
}

.promo {
	width: 100%;
}

#mainText {
	margin-top: 30vh;
}

/* #intro {
	margin-top: 50px;
} */

#work {
	background-color: rgb(61, 61, 61);
}

#pLanding {
	width: 100%;
	height: 90%;
}

#p1 {
	height: 480px;
}

/* Cards */
.activator {
	max-height: 400px;
	top: 0;
}
